---
import Layout from '../layouts/Layout.astro';
---

<Layout title="CECLA 6626 - Areas">
    <section class="w-full flex flex-col">
		<article class="w-full h-[200px] bg-cecla-front bg-cover">
			<div class="w-full h-full flex justify-center items-center bg-[#222222e8]">
				<h1 class="text-white text-center text-[45px] font-bold">¡Ha ocurrido un error!</h1>
			</div>
		</article>
	</section>
	<section class="my-[50px]">
        <article class="mx-auto w-full max-w-[1300px]">
            <div class="mx-auto flex flex-col justify-center items-center lg:flex-row">
                <div class="w-[400px] mt-[-75px] sm:w-[500px]">
                    <span class="text-[200px] text-cecla-purple text-center w-fit h-fit">404</span>
                    <p class="font-bold text-[20px] mt-[-50px]">La página que estás buscando no existe o ha sido eliminada. Por favor, verifica la URL o regresa a la página de inicio...</p>
                </div>
                <img src="/assets/CECLA6626-logo.png" alt="CECLA-404-not-found" class="w-[400px] h-[400px]" />
            </div>
        </article>
    </section>
</Layout>