---
import Layout from "../layouts/Layout.astro";
---

<Layout title="CECLA 6626 - Sobre la Institución">
	<section class="w-full flex flex-col">
		<article class="w-full h-[450px] bg-cecla-front bg-cover">
			<div
				class="w-full h-full flex justify-center items-center bg-[#222222e8]"
			>
				<h1 class="text-white text-[45px] font-bold">Sobre el CECLA</h1>
			</div>
		</article>
		<article
			class="w-full p-[30px] sm:p-[60px] text-justify relative bg-white max-w-[1300px] mx-auto"
		>
			<div class="mb-[60px]">
				<h2 class="font-bold text-[30px] mb-[15px] text-cecla-purple">
					Información sobre el Cecla 6626
				</h2>
				<p>
					El Centro de Capacitación Laboral 6626, Brig Gral.
					Estanislao López es una Institución Educativa Provincial que
					funciona en Cañada de Gómez desde el año 1986 formando
					estudiantes en diferentes oficios. Proporciona una salida
					laboral para diferentes ámbitos, con conocimientos sólidos
					para el egresado, tanto en lo teórico como en lo práctico.
				</p>
			</div>
			<div class="w-[80%] mx-auto relative">
				<img
					class="w-full h-[600px]"
					src="/assets/CECLA-banner.jpg"
					alt="CECLA-fachada"
				/>
			</div>
		</article>
	</section>
</Layout>

<style></style>
