---
import Layout from "../layouts/Layout.astro";
---

<Layout title="CECLA 6626 - Inscripciones">
	<section class="w-full flex flex-col">
		<article class="w-full h-[450px] bg-cecla-front bg-cover">
			<div
				class="w-full h-full flex justify-center items-center bg-[#222222e8]"
			>
				<h1 class="text-white text-[45px] font-bold">Ingreso CECLA</h1>
			</div>
		</article>
		<article
			class="w-full p-[30px] sm:p-[60px] text-justify relative bg-white max-w-[1300px] mx-auto"
		>
			<h2 class="font-bold text-[30px] mb-[15px] text-cecla-purple">
				¡Inscribite en el CECLA, te esperamos!
			</h2>
			<p>
				El CECLA 6626, de la ciudad de Cañada de Gómez, ofrece la
				inscripción a una serie de cursos de Formación Profesional y
				Capacitación Laboral, cuentan con Certificación Oficial del
				Ministerio de Educación de la provincia de Santa Fe.
			</p>
		</article>
	</section>
	<section>
		<article
			class="bg-cecla-purple w-full h-[150px] mb-[325px] md:mb-[300px]"
		>
			<div
				class="relative max-w-[1300px] mx-auto px-[25px] py-[25px] sm:px-[60px]"
			>
				<h3 class="font-bold text-[30px] text-white">Horario</h3>
				<div
					class="flex flex-col md:flex-row w-[calc(100%-50px)] sm:w-[calc(100%-120px)] md:h-[275px] bg-white absolute bottom-[-325px] md:bottom-[-275px] rounded-[1px] shadow-lg"
				>
					<div
						class="w-full h-[225px] md:h-full md:w-[25%] bg-cecla-purple-light flex justify-center items-center"
					>
						<i
							class="fa-regular fa-calendar-days text-[75px] text-cecla-purple"
						></i>
					</div>
					<div class="w-full md:w-[75%] p-[25px] text-justify">
						<p class="text-wrap">
							Las inscripciones se encuentran abiertas de <strong
								class="text-cecla-purple">19hs a 21hs</strong
							> en nuestra institución.
						</p>
					</div>
				</div>
			</div>
		</article>
		<article
			class="bg-cecla-purple w-full h-[150px] mb-[500px] md:mb-[300px]"
		>
			<div
				class="relative max-w-[1300px] mx-auto px-[25px] py-[25px] sm:px-[60px]"
			>
				<h3 class="font-bold text-[30px] text-white">Documentación</h3>
				<div
					class="flex flex-col md:flex-row w-[calc(100%-50px)] sm:w-[calc(100%-120px)] md:h-[275px] bg-white absolute bottom-[-510px] md:bottom-[-275px] rounded-[1px] shadow-lg"
				>
					<div
						class="w-full h-[225px] md:h-full md:w-[25%] bg-cecla-purple-light flex justify-center items-center"
					>
						<i
							class="fa-regular fa-file-lines text-[75px] text-cecla-purple"
						></i>
					</div>
					<div class="w-full md:w-[75%] p-[25px] text-justify">
						<span class="text-wrap"
							>La <strong class="text-cecla-purple"
								>documentación necesaria</strong
							> para cualquiera de las inscripciones incluye los
							siguientes elementos:</span
						>
						<ul class="pl-[40px]">
							<li
								class="pl-[5px] mt-[15px] relative leading-[20px] before:content-[''] before:block before:h-[12px] before:w-[12px] before:rounded-[50%] before:border-2 before:border-cecla-purple-light before:absolute before:top-1 before:left-[-25px]"
							>
								Fotocopia de DNI.
							</li>
							<li
								class="pl-[5px] mt-[15px] relative leading-[20px] before:content-[''] before:block before:h-[12px] before:w-[12px] before:rounded-[50%] before:border-2 before:border-cecla-purple-light before:absolute before:top-1 before:left-[-25px]"
							>
								Constancia de Cuil (En el caso de que el número
								de CUIL no esté registrado en el DNI).
							</li>
							<li
								class="pl-[5px] mt-[15px] relative leading-[20px] before:content-[''] before:block before:h-[12px] before:w-[12px] before:rounded-[50%] before:border-2 before:border-cecla-purple-light before:absolute before:top-1 before:left-[-25px]"
							>
								Fotocopia Título (Primario/Secundario) (En el
								caso específico de la inscripción como Gasista
								Domiciliario, se exige la presentación de un
								título secundario completo como requisito).
							</li>
						</ul>
					</div>
				</div>
			</div>
		</article>
	</section>
</Layout>

<style></style>
