---
import InstagramIcon from '../icons/social/Instagram.icon.astro';
import FacebookIcon from '../icons/social/Facebook.icon.astro';
import WhatsappIcon from '../icons/social/Whatsapp.icon.astro';
import EmailIcon from '../icons/social/Email.icon.astro';

import ExclamationIcon from '../icons/Exclamation.icon.astro';
---

<>
    <div class="w-fit h-fit bg-[rgb(238,238,238)] flex items-center justify-center p-5 gap-5 text-[16px] mt-6 shadow-[0px_0px_20px_rgba(0,0,0,0.055)] rounded">
        {/* Instagram */}
        <a
            class="group w-[52px] h-[52px] bg-[rgb(44,44,44)] flex items-center justify-center overflow-hidden duration-300 cursor-pointer active:scale-90 hover:bg-[#d62976]"
            href="https://www.instagram.com/cecla6626/"
            target="_blank"
        >
            <div class="w-5 h-5 group-hover:animate-slide-in-top">
                <InstagramIcon />
            </div>
        </a>

        {/* Facebook */}
        <a
            class="group w-[52px] h-[52px] bg-[rgb(44,44,44)] flex items-center justify-center overflow-hidden duration-300 cursor-pointer active:scale-90 hover:bg-[#0072b1]"
            href="https://www.facebook.com/c6626"
            target="_blank"
        >
            <div class="-mr-2 w-4 h-4 group-hover:animate-slide-in-top">
                <FacebookIcon />
            </div>
        </a>

        {/* Whatsapp */}
        <span id="whatsapp" class="group w-[52px] h-[52px] bg-[rgb(44,44,44)] flex items-center justify-center overflow-hidden duration-300 cursor-pointer active:scale-90 hover:bg-[#128c7e]">
            <div class="w-5 h-5 group-hover:animate-slide-in-top">
                <WhatsappIcon />
            </div>
        </span>

        {/* Email */}
        <span id="email" class="group w-[52px] h-[52px] bg-[rgb(44,44,44)] flex items-center justify-center overflow-hidden duration-300 cursor-pointer active:scale-90 hover:bg-[#d62932]">
            <div class="w-5 h-5 group-hover:animate-slide-in-top">
                <EmailIcon />
            </div>
        </span>
    </div>
    <div id="toast" class="fixed top-2.5 left-0 bg-white px-10 py-5 w-[375px] rounded border-r-8 shadow-md z-50 sm:w-[400px] hidden">
        <span class="text-[18px]">¡Numero de WhatsApp copiado en portapapeles!</span>
        <div class="ml-2.5 w-12 h-12 flex items-center">
            <ExclamationIcon />
        </div>
    </div>
</>

<script>
    const socialRefs = {
        WHATSAPP: document.getElementById("whatsapp")!,
        EMAIL: document.getElementById("email")!,
    }

    socialRefs.WHATSAPP.addEventListener("click", () => handleClipboard("WHATSAPP"));
    socialRefs.EMAIL.addEventListener("click", () => handleClipboard("EMAIL"));

    const clipboardWriteTexts = {
        EMAIL: "cecla6626.yahoo.com.ar",
        WHATSAPP: "03471 42-9165",
    };

    const toastRefs = {
        toastContainer: document.getElementById('toast')!,
        toastText: document.querySelector('#toast span')!,
    }

    const toastMessages = {
        EMAIL: "¡Email copiado en portapapeles!",
        WHATSAPP: "¡Numero de WhatsApp copiado en portapapeles!",
    };

    const handleClipboard = (type: "WHATSAPP" | "EMAIL") => {
        // Show Toast
        toastRefs.toastContainer.classList.remove("hidden");
        toastRefs.toastContainer.classList.add("flex","flex-nowrap","justify-between","items-center","animate-toast-active");

        // Handle Toast text
        toastRefs.toastText.innerHTML = toastMessages[type];

        navigator.clipboard.writeText(clipboardWriteTexts[type]);

        // Close Toast
        setTimeout(() => {
            toastRefs.toastContainer.classList.add("hidden");
            toastRefs.toastContainer.classList.remove("flex","flex-nowrap","justify-between","items-center","animate-toast-active");
        }, 3000);
    };
</script>
