---
import WorldIcon from '../icons/World.icon.astro';
import Socials from '../components/Socials.astro';
import SocialBanner from '../components/SocialBanner.astro';
import { courses } from '../data/Courses.ts';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href="/assets/CECLA6626-logo.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="w-full">
			<div class="bg-cecla-purple font-bold">
				<div class="mx-auto w-full max-w-[1300px] py-2 px-0 sm:px-6 lg:px-12">
					<SocialBanner />
				</div>
			</div>
			<nav class="h-[160px] bg-white flex flex-col justify-evenly items-center mx-auto w-full max-w-[1300px] py-0 px-6 lg:flex-row lg:h-20 lg:justify-between sm:px-12">
				<div>
					<a href="/" class="flex justify-between items-center w-full sm:w-[530px]">
						<img src="/assets/CECLA6626-logo.png" alt="CECLA6626" class="w-16 h-16 mr-1.5 sm:ml-0" />
						<span class="font-bold text-cecla-purple text-[20px] text-justify">
							Sitio Web oficial CECLA 6626 - Cañada de Gómez
						</span>
					</a>
				</div>
				<div class="navbar-navigation text-cecla-purple">
					<ul class="w-[375px] flex flex-row justify-between xl:w-[400px]">
						<li class="flex flex-row items-center h-20">
							<a href="/about" class="relative after:w-0 after:h-px after:content-[''] after:absolute after:bottom-[-1px] after:left-0 after:bg-cecla-purple after:transition-all hover:after:w-full">
								<span class="text-cecla-purple hover:transition focus:transition">
									Sobre la Institución
								</span>
							</a>
						</li>

						<li class="group relative flex flex-row items-center h-20">
							<a href="/classrooms/" class="relative after:w-0 after:h-px after:content-[''] after:absolute after:bottom-[-1px] after:left-0 after:bg-cecla-purple after:transition-all hover:after:w-full">
								<span class="text-cecla-purple hover:transition focus:transition">
									Aulas/Áreas
								</span>
							</a>
							<div class="classrooms-list *:hidden absolute top-[75px] -right-5 w-[380px] h-0 opacity-0 transition-all duration-200 ease-in-out group-hover:h-[407px] group-hover:opacity-100 group-hover:bg-white group-hover:border group-hover:border-cecla-purple group-hover:rounded-xl group-hover:shadow-[11px_10px_23px_-15px_rgba(0,0,0,0.75)] group-hover:z-10 group-hover:after:absolute group-hover:after:top-[-13px] group-hover:after:right-[52px] group-hover:after:content-[''] group-hover:after:w-[23px] group-hover:after:h-[23px] group-hover:after:bg-white group-hover:after:border-t group-hover:after:border-t-cecla-purple group-hover:after:border-r group-hover:after:border-r-cecla-purple group-hover:after:-rotate-45 group-hover:after:z-50">
								<ul class="py-2.5 px-5 h-full">
									{
										courses.map((course, index) => (
											<li class={`py-1.5 px-0 ${index !== 0 && "border-t border-t-solid border-t-cecla-transparent-purple"}`}>
												<a
													href={`/classrooms/${course.theme.toLocaleLowerCase().trim()}`}
													class="text-cecla-purple p-1.5 rounded-sm cursor-pointer hover:bg-cecla-transparent-purple"
												>
													{course.theme}
												</a>
											</li>
										))
									}
								</ul>
							</div>
						</li>

						<li class="flex flex-row items-center h-20">
							<a href="/signup" class="relative after:w-0 after:h-px after:content-[''] after:absolute after:-bottom-px after:left-0 after:bg-cecla-purple after:transition-all hover:after:w-full">
								<span class="text-cecla-purple hover:transition focus:transition">
									Sobre inscripciones
								</span>
							</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>

		<main class="overflow-hidden w-full">
			<slot />
			
			<section class="w-full flex flex-col-reverse items-center bg-cecla-purple p-12 lg:justify-evenly lg:flex-row">
				<article class="w-[300px] flex flex-col justify-center items-center mt-12 lg:m-0">
				  <iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3352.6129394361346!2d-61.39747558567285!3d-32.82901918095639!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95c9df98e5b6d283%3A0x70c795a79d76485d!2sCECLA%206626!5e0!3m2!1ses!2sar!4v1618498194393!5m2!1ses!2sar"
					width="auto"
					height="200"
					style={{ border: 0 }}
					allowfullscreen
					loading="lazy"
				  >
				  </iframe>
				</article>
				<article class="flex flex-col items-center text-[25px] lg:w-[560px]">
				  	<h3 class="text-white font-bold flex gap-1">
						<div class="w-12 h-12 -mt-1">
							<WorldIcon />
						</div>
						Por novedades y/o consultas también podes comunicarte a nuestras redes sociales
				  	</h3>
				  	<Socials />
				</article>
			</section>
		</main>

		<footer class="flex flex-col bg-[#222222] text-[18px]">
			<div class="w-full max-w-[1300px] min-h-[600px] flex flex-col-reverse items-center justify-between mx-auto py-6 px-12 lg:flex-row lg:min-h-full">
				<div class="h-auto lg:h-[140px]">
					<ul class="w-[275px] h-auto flex flex-col justify-between text-justify lg:w-auto lg:h-[110px] text-white">
						<li>
							<strong>Teléfono:</strong> 03471 42-9165
						</li>
						<li>
							<strong>WhatsApp:</strong> 03471 52-8870
						</li>
						<li>
							<strong>Dirección:</strong> Iriondo 558 - Cañada de Gómez - Santa Fe
						</li>
						<li>
							<strong>Correo:</strong> cecla6626@yahoo.com.ar
						</li>
					</ul>
				</div>
				<div class="h-[140px] text-white">
					<h5 class="font-bold">NAVEGACIÓN</h5>
					<nav>
						<ul class="mt-1.5 h-[110px] flex flex-col justify-evenly">
							<li>
								<a href="/" class="relative hover:text-cecla-purple hover:transition focus:text-cecla-purple focus:transition after:w-0 after:h-px after:content-[''] after:absolute after:-bottom-px after:left-0 after:bg-cecla-purple after:transition-all hover:after:w-full">
									Inicio
								</a>
							</li>
							<li>
								<a href="/about" class="relative hover:text-cecla-purple hover:transition focus:text-cecla-purple focus:transition after:w-0 after:h-px after:content-[''] after:absolute after:-bottom-px after:left-0 after:bg-cecla-purple after:transition-all hover:after:w-full">
									Sobre la Institución
								</a>
							</li>
							<li>
								<a href="/classrooms" class="relative hover:text-cecla-purple hover:transition focus:text-cecla-purple focus:transition after:w-0 after:h-px after:content-[''] after:absolute after:-bottom-px after:left-0 after:bg-cecla-purple after:transition-all hover:after:w-full">
									Aulas/Áreas
								</a>
							</li>
							<li>
								<a href="/signup" class="relative hover:text-cecla-purple hover:transition focus:text-cecla-purple focus:transition after:w-0 after:h-px after:content-[''] after:absolute after:-bottom-px after:left-0 after:bg-cecla-purple after:transition-all hover:after:w-full">
									Sobre inscripciones
								</a>
							</li>
						</ul>
					</nav>
				</div>
				<div>
					<img
						src="/assets/CECLA6626-logo.png"
						alt="CECLA6626"
						class="w-[175px] h-[175px]"
					/>
				</div>
			</div>
			<div class="bg-[#171717] py-4 text-[15px] lg:py-0">
				<div class="h-14 w-full max-w-[1300px] py-0 px-12 mx-auto flex flex-col justify-between items-center lg:flex-row text-white">
					<div>
						<span>CECLA6626© 2018. Todos los derechos reservados.</span>
					</div>
					<div>
						<SocialBanner />
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
<style is:global>
	:root {
		--cecla-purple: #41429c;
		--cecla-purple-light: #9090da;
	}
	html {
		font-family: system-ui, sans-serif;
		background: #fff;
		color: #13151a;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		list-style: none;
		text-decoration: none;
	}
	.navbar-navigation > ul > li:nth-child(2):hover .classrooms-list * {
		display: block;
	}
</style>